<%= form_for(@document) do |f| %>
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul>
      <% @document.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>

    <div class="field">
      <%= f.label :tags %><br />
      <%= f.text_area :tags %>
    </div>

    <div class="field">
      <%= f.label :image_name %><br />
      <%= f.text_field :image_name %>
    </div>

  <div class="field">
    <%= f.label :view_count %><br />
    <%= f.number_field :view_count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
