<div id="header">
  <ul>
    <li>
      <h2><a title="landing" id="logo">BookBook</a></h2>
    </li>      
    <li id="volume">&bull; 1st Edition</li>
    <li>
      <a title="about">
        About
      </a>
    </li>
    <li>
      <a title="archive">
        Archive
      </a>
    </li>
    <li id="order">
        Number <%= @issue.nice_count %> of 50 <a title="shop">Publish</a>
    </li>
  </ul>
</div>

<div id="site-container">
  <div id="page-container">


    <div id="landing">
      <div id="index">
        <ul>
        <% @documents.each do |document| %>
          <li>
            <span class="list-category"><%= document.category %></span>
            <a href="#article-<%= document.id %>">
              <%= document.title %>
            </a>
            <span class="list-tags"><%= document.tags %></span>            
          </li>
        <% end %>
          <!--li>
            + <%= link_to 'New Document', new_document_path %>
          </li-->
        </ul>
      </div>


      <div id="items">

      <% @documents.each do |document| %>

        <article class="item" id="article-<%= document.id %>">
          <div class="close">back to list</div>
          
          <div class="forward">&rarr;<div class="next-title"></div></div>
          <div class="backward">&larr;<div class="prev-title"></div></div>
          
          <div class="content">
            <h1 class="title"> 
              <%= document.title %>
            </h1>
            <div class="category"><%= document.category %></div>
            <div class="copy">
              <%= document.body %>
            </div>

            <ul class="tags">
              <li>
                <%= document.tags %>
              </li>
            </ul>
        
            <div class="clear">&nbsp;</div>
            
            <div class="image-holder">
              <% if document.image_name && !document.image_name.empty? %>
                <%= image_tag "/assets/documents/#{document.image_name}" %>
              <% end %>
            </div>

            <div class="views">
                <div class="links">
                  <!--%= document.view_count %-->
                  <!--<%= link_to 'PDF', "/documents/#{document.id}.pdf" %>-->
                  <!--<%= link_to 'Edit', edit_document_path(document) %>-->
                  <!--<%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                </div>
            <div>
          </div>
          <div class="clear">&nbsp;</div>
        </article>

      <% end %>

      </div>
    </div>

    <div id="about">
      <div id="desc">
        <p>
          <span class="underline">BookBook</span> is an up-to-date graphic design reference book. The printed issue acts as a snapshot of this digital archive, and is compiled, instantly, on demand. Published in a limited edition of 50 copies.
        </p>
        <p>
          This x itteration contains x references.
        </p>
      </div>
    </div>

    <div id="archive">
      <ul id="covers">

        <% @issue.nice_count.times do | i | %>
        <li>
            <img src="/images/<%= i + 1 %>.jpg" />
            <span class="issue-edition">1st edition, <%= i + 1 %>/50</span>
        </li>
        <% end %>

    </div>

    <div id="shop">
      <div id="shop-images">
        <img src="/images/<%= (@issue.nice_count + 1)%50 %>.jpg" />
        <img src="/images/issues-large/2.jpg" />          
      </div>  
      <div id="order-desc">

        <ul>
          <li>          
            <b>Dimensions</b> 5.5 x 8.5 in
          </li>
          <li>                   
            <b>Color</b> B&amp;W
          </li>
          <li>            
            <b>Edition</b> <%= (@issue.nice_count + 1)%50 %>/50
          </li>  
        </ul>
        <div id="download">
          <a href="/documents.pdf"><img src="/images/download.png" alt="download" /></a>
        </div>

        <!--div id="button">
          <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
          <input type="hidden" name="cmd" value="_s-xclick">
          <input type="hidden" name="hosted_button_id" value="8EB6HFD5SCXH8">
          <input type="image" src="/images/button.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
          <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
          </form>
        </div>

        <div class="description">
          or, for a small shipping and assembly fee I can assemble and mail you a copy.
        </div-->
    </div>
  </div>
</div>