<div id="background-color" style="background-color: rgb(<%= 255 - (@issue.nice_count) %>, <%= 255 - (@issue.nice_count) %>, <%= 255 - (@issue.nice_count) %>)">

<div id="header">
  <ul>
    <li id="logo">
      <h2><a title="landing" id="logo" class="activeTitle">Book Book</a></h2>
    </li>      
    <li id="volume">&bull; 1st Edition no. <%= (@issue.nice_count)+1 %> of 50</li>

    <li id="right-space" class="spacer">/</li>    
    <li id="collection">
      <a title="archive">Past Issues</a>
    </li>
    <li class="spacer">/</li>    
    <li id="order">
        <a title="shop">Order Now</a>
    </li>    
  </ul>
  <a title="shop" id="circle">
    Order<br />
    Now
  </a>
</div>

<div id="site-container">
  <div id="page-container">


    <div id="landing">

      <div id="index">

  		<div id="desc">
  		<p>
  		  <span class="underline">Book Book</span> is a reference book on the material web. Each issue is compiled and printed on demand, reflecting the latest content present on this website. The pages in each printing take on a 1% increase in black, every printing getting slightly darker. Each edition is published in a limited edition of 50 copies. View the site and book's content by clicking the links below in the Reference List.
  		</p>
  		</div>
      <div id="reference_title">Reference List</div>      
        <ul>
        <% @documents.each do |document| %>
          <li>
            <!--span class="list-category"><%= document.category %></span-->
            <a href="#article-<%= document.id %>">
              <%= document.title %>
            </a>
            <!--span class="list-tags"><%= document.tags %></span-->            
          </li>
        <% end %>
          <!--li>
            + <%= link_to 'New Document', new_document_path %>
          </li-->
        </ul>
      <div class="bottom-space">    
      </div>
      </div>

      <div id="items">
      <% @documents.each do |document| %>

        <article class="item" id="article-<%= document.id %>" style="background-color: rgba(<%= 255 - (@issue.nice_count) %>, <%= 255 - (@issue.nice_count) %>, <%= 255 - (@issue.nice_count) %>, .9)">
          <div class="close">back to list</div>
          
          <div class="forward">&rarr;<div class="next-title"></div></div>
          <div class="backward">&larr;<div class="prev-title"></div></div>
          
          <div class="content">
            <h1 class="title"> 
              <%= document.title %>
            </h1>
            <div class="category"><%= document.category %></div>
            <div class="copy">
              <%= document.body %>
            </div>

            <ul class="tags">
              <li>
                <%= document.tags %>
              </li>
            </ul>
        
            <div class="clear">&nbsp;</div>
            
            <div class="image-holder">
              <% if document.image_name && !document.image_name.empty? %>
                <%= image_tag "/assets/documents/#{document.image_name}" %>
              <% end %>
            </div>

            <div class="views">
                <div class="links">
                  <!--%= document.view_count %-->
                  <!--<%= link_to 'PDF', "/documents/#{document.id}.pdf" %>-->
                  <!--<%= link_to 'Edit', edit_document_path(document) %>-->
                  <!--<%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %>-->
                </div>
            <div>
          </div>
          <div class="clear">&nbsp;</div>
        </article>

      <% end %>

      </div>
    </div>

    <!--div id="about">

    </div-->

    <div id="archive">
      <ul id="covers">

        <% @issue.nice_count.times do | i | %>
        <li>
            <img src="/images/<%= i + 1 %>.jpg" />
            <span class="issue-edition">1st edition, <%= i + 1 %>/50</span>
        </li>
        <% end %>
        <div class="bottom-space">
          
        </div>
    </div>

    <div id="shop">
      <div id="shop-images">
        <img src="/images/<%= (@issue.nice_count + 1)%50 %>.jpg" />
        <img src="/images/issues-large/3.jpg" />          

        <% if @issue.nice_count < 9 %>
        <div class="transparency-div" style="background: rgba(0,0,0, .0<%= (@issue.nice_count + 1) %>);">
        <% else %>
        <div class="transparency-div" style="background: rgba(0,0,0, .<%= (@issue.nice_count + 1) %>);">
        <% end %>
        </div>

        <div class="img-spacer"></div>
        <img src="/images/issues-large/2.jpg" />          
        
        <% if @issue.nice_count < 9 %>
        <div class="transparency-div" style="background: rgba(0,0,0, .0<%= (@issue.nice_count + 1) %>);">
        <% else %>
        <div class="transparency-div" style="background: rgba(0,0,0, .<%= (@issue.nice_count + 1) %>);">
        <% end %>
        </div>

      </div>  
      <div id="order-desc">
        <o>
          This is number <%= (@issue.nice_count + 1)%50 %> of 50 printings of the first edition of <b>Book Book</b>. Each printing has a unique cover and grayscale level. All orders are placed and printed through <a href="http://peecho.com">peecho.com</a>. 
        </p>
        <ul>
          <li>          
            <b>Dimensions</b> 5.5 x 8.5 in
          </li>
          <li>                   
            <b>Color</b> B&amp;W
          </li>
          <li>                   
            <b>Pages</b> 22
          </li>          
          <li>                   
            <b>Binding</b> Perfect Bound
          </li>          
          <li>            
            <b>Edition</b> <%= (@issue.nice_count + 1)%50 %>/50
          </li>  
        </ul>
    		<div id="pod">
          <a title="Peecho" href="http://www.peecho.com/" class="peecho-print-button" data-filetype="pdf" data-width="136" data-height="210" data-pages="22" data-src="http://www.bookbook.be/documents.pdf" data-title="BookBook" data-thumbnail="chrishamamoto.com/thumbnail.png" data-currency="USD" data-locale="en_EN" data-style="false" data-text="Print">Print</a>
    		</div>
    </div>
  </div>
</div>
<div id="footer">
  &copy; BookBook 2013 &bull; Special thanks to <a href="http://danielpennypacker.com/">Daniel Pennypacker</a> for coding help.
</div>
</div>